.auth-form_wrapper {
    margin: 0 auto;
    position: relative;
    height: 748px;
    background-color: #FAFAFA;
    max-width: 1140px;
    height: 600px;

}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 58px;
    right: 370px;
    width: 400px;
    height: 403px;
    background-color: #FFECB3;
    border-radius: 10px;
}

.button{
    position: absolute;
    top: 315px;
    right: 86px;
    text-decoration: none;
    color: white;
    padding: 13px 89px;
    background-color: #D33030;
    border-radius: 20px;
    outline: none;
    border: none;
}

h1 {
    position: absolute;
    top: 20px;
}

.check{
    color: red;
    position: absolute;
    bottom: 140px;
    font-size: 21px;

}